<div class="screen">
  <div class="screen__calculation">
    {{ calcString}}
  </div>
  <div class="screen__result">
    {{ results[0] }}
  </div>
</div>
<div class="controls">
  <div class="controls__row">
    <button (click)="tokens.push('1')">1</button>
    <button (click)="tokens.push('2')">2</button>
    <button (click)="tokens.push('3')">3</button>
  </div>
  <div class="controls__row">
    <button (click)="tokens.push('4')">4</button>
    <button (click)="tokens.push('5')">5</button>
    <button (click)="tokens.push('6')">6</button>
  </div>
  <div class="controls__row">
    <button (click)="tokens.push('7')">7</button>
    <button (click)="tokens.push('8')">8</button>
    <button (click)="tokens.push('9')">9</button>
  </div>
  <div class="controls__row">
    <button (click)="tokens.push('.')">.</button>
    <button (click)="tokens.push('0')">0</button>
    <button (click)="compute()">=</button>
  </div>
  <div class="controls__row">
    <button (click)="tokens.push(' + ')">+</button>
    <button (click)="tokens.push(' - ')">-</button>
    <button (click)="tokens.push(' * ')">*</button>
    <button (click)="tokens.push(' / ')">/</button>
  </div>
  <div class="controls__row">
    <button (click)="tokens.push('(')">(</button>
    <button (click)="tokens.push(')')">)</button>
    <button (click)="reset()">CLR</button>
  </div>
</div>
